body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
        
    
}
ul{
    display: flex;
    flex-direction: column;
    background: white;
    color: indigo;
}